{
	"ecmaFeatures": {
		"arrowFunctions": true,
		"binaryLiterals": false,
		"blockBindings": true,
		"classes": true,
		"defaultParams": true,
		"destructuring": true,
		"forOf": true,
		"generators": true,
		"modules": false,
		"objectLiteralComputedProperties": true,
		"objectLiteralDuplicateProperties": false,
		"objectLiteralShorthandMethods": true,
		"objectLiteralShorthandProperties": true,
		"octalLiterals": false,
		"regexUFlag": false,
		"regexYFlag": false,
		"restParams": true,
		"spread": true,
		"superInFunctions": true,
		"templateStrings": true,
		"unicodePointEscapes": true,
		"globalReturn": false,
		"jsx": true
	},
	"env": {
		"browser": true,
		"node": true
	},
	"parser": "@typescript-eslint/parser", // Use the TypeScript parser
	"parserOptions": {
		"project": "./tsconfig.json", // Specify tsconfig for type checking
		"ecmaVersion": 2020,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"react",
		"@typescript-eslint" // Add TypeScript plugin
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended" // Extend TypeScript linting rules
	],
	"rules": {
		"@typescript-eslint/explicit-module-boundary-types": "off", // Customize your rules here
		"react/prop-types": "off" // Disable PropTypes rule as TypeScript handles types
	}
}